<div class="calculator">
  Calculator
    <input  type="text" [(ngModel)]="expression">

  <br> 
  <br>
  <button (click)="addNumber('7')">7</button>
  <button (click)="addNumber('8')">8</button>
  <button (click)="addNumber('9')">9</button>
  <button (click)="addOperator('/')">/</button>
  <br>
  <br>
  <button (click)="addNumber('4')">4</button>
  <button (click)="addNumber('5')">5</button>
  <button (click)="addNumber('6')">6</button>
  <button (click)="addOperator('*')">*</button>
  <br>
  <br>
  <button (click)="addNumber('1')">1</button>
  <button (click)="addNumber('2')">2</button>
  <button (click)="addNumber('3')">3</button>
  <button (click)="addOperator('-')">-</button>
  <br>
  <br>
  <button (click)="addNumber('0')">0</button>
  <button (click)="addOperator('+')">+</button>
  <button (click)="calculate()">=</button>
  <button (click)="reset()">C</button>
</div>
